@font-face {
    font-family: "Barlow";
    src: url("fontes/barlow/Barlow-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("fontes/barlow/Barlow-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("fontes/barlow/Barlow-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Barlow";
}