<div class="grid-3-3" id="posts-grid">
    {% for p in posts %}
    <article class='post-card'>
        <a href="{% url 'posts:post_view' pk=p.pk %}" class="link-sem-estilo">
            <div class="container-gg">
                <h3 class="titulo-4">{{p.titulo}}</h3>
            </div>
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam, unde optio aut
                architecto laudantium repudiandae obcaecati aliquid perferendis. Possimus quod unde accusamus facere
                voluptatem tempore dignissimos odit incidunt nesciunt.
            </div>
        </a>
    </article>
    {% endfor %}
    {% if pagina_obj.has_other_pages %}
    <div>
        {% if pagina_obj.has_previous %}
        <button type="button" hx-get="{% url 'posts:post_grid' %}?pagina={{pagina_obj.previous_page_number}}"
            hx-target="#posts-grid" hx-swap="outerHTML">{{pagina_obj.previous_page_number}}</button>
        {% endif %}

        <div>
            {{pagina_obj.number}}
        </div>

        {% if pagina_obj.has_next %}
        <button type="button" hx-get="{% url 'posts:post_grid' %}?pagina={{pagina_obj.next_page_number}}"
            hx-target="#posts-grid" hx-swap="outerHTML">{{pagina_obj.next_page_number}}</button>
        {% endif %}
    </div>
    {% endif %}
</div>