<div class="grid-3-3">
    {% for p in posts %}
    <article class='post-card'>
        <a href="{% url 'posts:post_view' pk=p.pk %}" class="link-sem-estilo">
            <div class="titulo-4">{{p.titulo}}</div>
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam, unde optio aut
                architecto laudantium repudiandae obcaecati aliquid perferendis. Possimus quod unde accusamus facere
                voluptatem tempore dignissimos odit incidunt nesciunt.
            </div>
        </a>
    </article>
    {% endfor %}
</div>