{% extends 'base.html' %}

{% block conteudo %}
<div class="container-gg">
    <h1 class="titulo-principal">Blog</h1>
</div>
<section class="container-gg">
    <h2 class="titulo-2">Últimos Posts</h2>
    {% include 'partials/grid-posts.html' %}
</section>
{% endblock %}
{% block lateral %}
<div>
    <div>
        <h2 class="titulo-3">Pesquisar Posts</h2>
        <div>
            <input type="search" name="" id="" placeholder="Digite aqui" class="input-base">
        </div>
    </div>
    <div>
        <h2 class="titulo-3">Posts por Assunto</h2>
        <div class="flex flex-row gap-5 flex-wrap">
            <a class="link-block" href="#">Python</a>
            <a class="link-block" href="#">Javascript</a>
            <a class="link-block" href="#">Htmx</a>
            <a class="link-block" href="#">Django</a>
            <a class="link-block" href="#">WebDev</a>
        </div>
    </div>
</div>
{% endblock %}