{% extends 'base.html' %}

{% block conteudo %}
<article class="container-gg">
    <h1 class="container-gg">Título do Post</h1>
    <details open>
        <ul>
            <li><span>Autor:</span> <span>Leonardo</span></li>
            <li><span>Data:</span> <time datetime="">16/02/1994</time></li>
            <li>
                <span>
                    Assuntos:
                </span>
                <div class="flex flex-row gap-5">
                    <a class="link-block" href="#">Python</a>
                    <a class="link-block" href="#">Javascript</a>
                </div>
            </li>
        </ul>
    </details>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, ducimus. Provident reiciendis numquam
        doloremque, veritatis repellat voluptatibus, voluptas qui deserunt at voluptate saepe ut. Saepe officia error
        ipsam possimus quidem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, unde expedita? Quis, distinctio! Consequuntur
        rerum est quas corporis, fuga ullam quisquam ex. Delectus in similique sequi iste officiis, dolor repellat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, ducimus. Provident reiciendis numquam
        doloremque, veritatis repellat voluptatibus, voluptas qui deserunt at voluptate saepe ut. Saepe officia error
        ipsam possimus quidem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, unde expedita? Quis, distinctio! Consequuntur
        rerum est quas corporis, fuga ullam quisquam ex. Delectus in similique sequi iste officiis, dolor repellat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, ducimus. Provident reiciendis numquam
        doloremque, veritatis repellat voluptatibus, voluptas qui deserunt at voluptate saepe ut. Saepe officia error
        ipsam possimus quidem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, unde expedita? Quis, distinctio! Consequuntur
        rerum est quas corporis, fuga ullam quisquam ex. Delectus in similique sequi iste officiis, dolor repellat.</p>
</article>
{% endblock %}