{% extends 'base.html' %}
{% load static %}

{% block fim_da_head %}
{% include 'partials/prism-css.html' %}
{% endblock fim_da_head %}

{% block conteudo %}
<article class="container-gg">
    <div>
        <h1 class="titulo-principal">{{post.titulo}}</h1>
    </div>
    <details open class="container-gg" style="word-break: break-all; hyphens: auto;">
        <ul>
            <li><span>Autor:</span> <span>{{post.autor.username}}</span></li>
            <li><span>Data:</span> <time datetime="">{{post.data_criacao}}</time></li>
            <li>
                <span>
                    Assuntos:
                </span>
                <div class="flex flex-row gap-5">
                    {% for assunto in post.assuntos.all %}
                    <a class="link-block" href="#">{{assunto.nome}}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </details>
    <div class="container-gg" style="word-break: break-all; hyphens: auto;">
        {{post.corpo | safe}}
    </div>
</article>
{% endblock %}

{% block fim_de_pagina %}
{% include 'partials/prism-script.html' %}
{% endblock fim_de_pagina %}