{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo_pagina %}Document{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    {% block fim_da_head %}
    {% endblock fim_da_head %}
</head>

<body class="home-layout">
    <header class="header">
        {% include 'partials/header.html' %}
    </header>
    <main class="main">
        {% block conteudo %}
        {% endblock %}
    </main>
    <aside class="aside">
        {% block lateral %}
        {% endblock %}
    </aside>
    <footer class="footer">
        footer
    </footer>
    {% block fim_de_pagina %}
    {% endblock fim_de_pagina %}
</body>

</html>