@use "../cores";

.header-nav {
    background: cores.$primaria;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.header-nav-link {
    color: cores.$secundaria;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    &:hover {
        color: white;
    }
}