@use "sass:color";
@use "../cores";
@use "../sombra";

.link-block {
    display: block;
    padding: 5px;
    color: cores.$primaria;
    border: 1px solid black;
    border-radius: 1px;
    font-weight: 500;
    @include sombra.sombra(black);

    &:hover {
        color: color.scale(cores.$primaria, $lightness: 30%);
        @include sombra.sombra(cores.$primaria);
        transition: 1s color, box-shadow 1s;
    }
}

.link-nav {
    display: block;
    padding: 5px 20px;
    color: black;
    border: 1.5px solid black;
    border-radius: 1px;
    font-weight: 600;
    @include sombra.sombra(black);
    text-decoration: none;
    letter-spacing: 1px;

    &:hover {
        background: color.adjust(cores.$primaria, $lightness: 10%);
        transition: background .5s;
        text-decoration: underline;
    }
}