.post-card {
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 2px 2px 3px black;
    padding: 2px;
}

.post-card-titulo {
    font-weight: 600;
}

.post-card-imagem {
    width: 100%;
}