@use "../sombra";


.post-card {
    border: 1px solid black;
    border-radius: 1px;
    padding: 2px;
    @include sombra.sombra(black);
}

.post-card-titulo {
    font-weight: 600;
}

.post-card-imagem {
    width: 100%;
}